h1{
	font-family:times new roman;
	font-weight:cursive;
	font-size:50px; 
	text-align: center;
}
body{background-color: #ccc8c7;}

h2{
    font-family:times new roman;
    text-align: center;
}

p{
    font-size:20px;
    text-align: center;
}

.boks{
	width: 80%;
	padding: 30px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
    
