.topnav {
	background-color: #ccc8c7;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: times new roman;
}
li{
	float: left;
}
li a{
	display: block;
	color: black;
	text-align: center;
	padding: 7px 18px;
	font-size: 16px;
	text-decoration: none;
}
li a:hover{
	background-color: #7C7C7B
}